---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Fira Sans', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

header {
  margin: 10px;
  margin: 0px;
}

#name {
  font-size: 300%;
  text-align: center;
  font-family: 'Anton', sans-serif;
}

#header-spacer {
  height: 20px;
}

.header-link {
  font-family: 'Anton', sans-serif;
  margin: 10px 0px 0px 0px;
  text-align: center;
}

#profile-pic {
  border-radius: 100%;
  height: 100%;
  width: 100%;
  }

#profile-pic-container {
  margin: 10px;
}

.screenshot-spacer {
	height: 25px;
}

.project-image {
	border: 1px solid black;
}

#about-me-pic {
	border: 1px solid black;
	height: 40%;
	width: 40%;
}

#lowes-screenshot {
  max-height: 400px;
  width: auto;
}

.btn-info {
  color: white;
  background-color: white;
  border-color: white;
  max-width: 100%;
}
.btn-info:focus,
.btn-info.focus {
  color: white;
  background-color: white;
  border-color: white;
}
.btn-info:hover {
  color: white;
  background-color: white;
  border-color: white;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: white;
  background-color: white;
  border-color: white;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: white;
  background-color: white;
  border-color: white;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline: 0px auto;
  outline-offset: 0px;
}

.modal-footer {
  text-align: center;
}

.project-icon {
  font-size: 28px;
}

.playlist {
  margin-left: 15px;
}

#contact-list {
  text-align: center;
  font-size: 20px;
}

.footer-icon {
  font-size: 28px;
}

.active {
  background-color: blue;
}