<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list" id="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li>
            <a href="https://github.com/seanhaughey" target="_blank"><i class="fa fa-github-square"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/sdhaughey" target="_blank"><i class="fa fa-twitter-square"></i></a>
          </li>
          <a href="https://www.linkedin.com/in/seanhaughey" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
