<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3"></div>
        <div class="col-xs-6 col-sm-6 col-md-6">
          <ul class="contact-list" id="contact-list">
            <li id="email"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li id="phone">415.577.9945</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4"></div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <ul class="social-media-list text-center">
            <li>
              <a href="https://github.com/seanhaughey" target="_blank"><i class="fa fa-github-square"></i></a>
              <a href="https://twitter.com/sdhaughey" target="_blank"><i class="fa fa-twitter-square"></i></a>
              <a href="https://www.linkedin.com/in/seanhaughey" target="_blank"><i class="fa fa-linkedin-square"></i></a>
              <a href="https://www.instagram.com/sdhaughey" target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
